﻿{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}


{% comment %} 
Это список партнеров
{% endcomment %}

    
{% for partners_item in partners %}
 {% include 'partners/partners_item.html' %}

{% endfor %}



{% if form %}
<form action="." method="POST">
{{form}}
{%csrf_token%}
<button type="submit">Добавить</button>
</form>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if pag.has_previous %}
            <a href="?page={{ pag.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ pag.number }} of {{ pag.paginator.num_pages }}.
        </span>

        {% if pag.has_next %}
            <a href="?page={{ pag.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


<a href=".">Показать опубликованные</a>

{% endblock %}
