@charset "utf-8";
/* CSS Document */

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
	background-color:#54B0DC;
   }
   
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
	font-size: 25px;
}
   
ul.hr a{ 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
	color:#000000;
   } 
   
ul.hr a:hover {
	background-color:#74BEE2;
}

#left {
	float:left;
}

#contant {
	float:left;
	padding: 30px;
	text-indent: 30px;
}

