﻿<p><h2><image src='{{ partners_item.image.url}}' height = 250, width = 250>{{ partners_item.title|upper|truncatewords:2 }}</h2> {{ partners_item.description|lower|linebreaks|rjust:"100" }}</p>
<form>
<a href='{% url "partners:del_partners" partners_item.id %}'>Удалить</a>
<a href='{% url "partners:partners_detail" partners_item.id %}'>Редактировать</a>
</form>
