﻿{% extends "base.html" %}  
{% block title %}My amazing blog{% endblock %}  

{% load cache %} {% cache 500 sidebar %}
{% block content %} 
{% for partners_item in partners %}     
{% include 'partners/partners_item.html' %} 
{% endfor %} 
{% if form %}
<form action="." method="POST">
{{form|escape }}
{%csrf_token%}
<button type="submit">Добавить</button>
</form>



{% endif %}
{% endblock %}
{% endcache %}
