﻿{% extends "base.html" %}
{% block title %}Новости{% endblock %}
{% block top %}<h1>Новости</h1>{% endblock %}
{% block content %}
<ul>
{% for news_item in add_news %}{% comment %} Этот элемент {% for news_item in add_news %} используется для вывода всех объектов новостей...{% endcomment %}
 {% include 'news/news_item.html' %}
{% endfor %}
</ul>


<div class="pagination">
    <span class="step-links">
        {% if add_news.has_previous %}
            <a href="?page={{ news.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Стр. {{ add_news.number }} из {{ add_news.paginator.num_pages }}.
        </span>

        {% if add_news.has_next %}
            <a href="?page={{ add_news.next_page_number }}">Следующая</a>
        {% endif %}
    </span>
</div>


{% endblock %}