﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content='text/html; charset="utf-8"' />
    {% load staticfiles %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% block title %}Мой сайт{% endblock %} </title>
</head>
<body>
        <header>
            {% comment %} меню{% endcomment %}        
    <div >
     {% block menu %}
    <ul class='hr'>
         <li><a href="#" >Главная</a></li> 
         <li><a href="{% url 'spikers:spikers' %}">Спикеры</a></li>
         <li><a href="{% url 'partners:partners' %}">Партнёры</a></li>
         <li><a href="{% url 'vistuplenia:vistuplenia' %}">Выступления</a></li>
         <li><a href="{% url 'organisators:organisators' %}">Огранизаторы</a></li> 
         <li><a href="{% url 'news:news' %}">Новости</a></li> 
         <li><a href="{% url 'kontakts:kontakts' %}">Контакты</a></li>
    </ul>
     {% endblock %}
     </div>         
        </header>
   
                        
 
        {% block content %} 
       
        
        {% endblock %}
        
        
                                   
</body>
</html>