﻿{% extends "base.html" %}  
{% block title %}My amazing blog{% endblock %}  
{% block content %} 
{% for news_item in news %}     
{% include 'news/news_item.html' %} 
{% endfor %} 

{% if form %}



<div class="pagination">
    <span class="step-links">
        {% if news_pag.has_previous %}
            <a href="?page={{ news_pag.previous_page_number }}">previous</a>
        {% endif %}

        <span>
            Page {{ news_pag.number }} of {{ news_pag.paginator.num_pages }}.
        </span>

        {% if news_pag.has_next %}
            <a href="?page={{ news_pag.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>




{% endif %}

{% endblock %}